
.load-box {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.load-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.load-content img {
  display: block;
  width: 80px;
  animation:loadMove 5s linear infinite;
}
.load-content p {
  color: #FFE1A7;
}
.load-content p .dot {
  font-size: 14px;
  margin-right: 4px;
}
.load-content p .dot1 {
  animation:dotMove 0.5s linear infinite;
}
.load-content p .dot2 {
  animation:dotMove 0.5s 0.2s linear  infinite;
}
.load-content p .dot3 {
  animation:dotMove 0.5s 0.4s linear  infinite;
}
@keyframes loadMove {
  from {
    transform:  rotate(0deg) ;
  }
  to {
    transform:  rotate(360deg) ;
  }
}
@keyframes dotMove {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.app {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: none;
}
.swiper-container-h {
  width: 100%;
  height: 100vh;
}
.box {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.box1 {
  background: url("../assets/img/hpart7.png") no-repeat center;
  background-size: cover;
}
.box1 .clouds-top {
  position: absolute;
  animation: cloudtop1 2s infinite alternate;
}
.box1 .clouds-top img {
  width: 100%;
  opacity: 0.6;
  display: block;
}
.box .head {
  width: 100%;
  height: 60px;
  background-color: #26282F;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0px 2vh;
}
.box .head .head-left{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.box .head .head-left img {
  width: 40px;
  height: 40px;
  display: block;
}
.box .head .head-left .game-info {
  margin-left: 1vh;
}
.box .head .head-left .game-info .game-name {
  font-size: 16px;
  font-family:Microsoft YaHei;
  font-weight: bold;
  color:rgba(245,194,129,1);
}
.box .head .head-left .game-info .game-type {
  font-size: 12px;
  font-family:Microsoft YaHei;
  font-weight: bold;
  color:rgba(245,194,129,1);
  margin-top: 2px;
}
.box .head .head-right {
  border: 1px solid rgba(245,194,129,1);
  padding: 4px 8px;
  border-radius: 5px;
  font-size: 12px;
  color: rgba(245,194,129,1);
}

.box .recharge-box {
  width: 95%;
  height: 60px;
  background: url("../assets/img/box1-5.png") no-repeat center;
  background-size: 100% 100%;
  position: absolute;
  bottom: 5vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;
  padding: 2vh 3vh;
  box-sizing: border-box;
}
.box .recharge-box .recharge-content {
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.recharge-content ul {
  list-style: none;
  height: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.recharge-content ul li {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}
.recharge-content ul > li:nth-child(1) {
  flex: 1;
}
.recharge-content ul > li:nth-child(2) {
  flex: 1.4;
}
.recharge-content ul > li:nth-child(3) {
  flex: 1;
}
.recharge-item  {
  display: flex;
  justify-content: start;
  align-items: center;
}
.recharge-item .icon {
  width: 14px;
  height: 14px;
  margin-right: 2px;
}
.recharge-item .icon_dollar {
  background: url("../assets/img/dollar.png") no-repeat center;
  background-size: contain;
}
.recharge-item .icon_app {
  background: url("../assets/img/apple.png") no-repeat center;
  background-size: contain;
}
.recharge-item .icon_google-play {
  background: url("../assets/img/google-play.png") no-repeat center;
  background-size: contain;
}
.recharge-item .right {
  flex: 1;
}
.recharge-item .right p{
  margin: 0px;
}
.recharge-item .right .ft-en{
  font-size: 10px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color:#AE8E69;
}
.recharge-item .right .ft-zh {
  font-size: 12px;
  font-family:Microsoft YaHei;
  font-weight:bold;
  color:#AE8E69;
}
.recharge-content ul > li:not(:last-child)::after {
  content: "";
  height: 50%;
  width: 1px;
  background-color: #AE8E69;
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
}
.menu {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0px;
  padding: 0px;
  position: absolute;
  z-index: 10;
  right: 2vw;
  top: 20px;
}
.menu-no-head {
  top: 20px;
}
.menu-ul-li {
  position: relative;
  margin-left: 5px;
}
.menu-ul-li  a > img:first-child {
  display: block;
}
.menu-ul-li  a > img:last-child {
  display: none;
}
.menu-ul-li a:active > img:first-child {
  display: none;
}
.menu-ul-li  a:active > img:last-child {
  display: block;
}
.menu-img{
  height: 40px;
  width: 40px;
  display: block;
}
.indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.indicator .vertical-line {
  width: 2px;
  height: 6px;
  background-color: #ffffff;
}
.indicator-icon {
  width: 16px;
  height: 16px;
  cursor: pointer;
  position: relative;
}
.indicator-noActive {
  background: url("../assets/img/indicator.png") no-repeat center;
  background-size: contain;
}
.indicator-active {
  background: url("../assets/img/indicator-active.png") no-repeat center;
  background-size: contain;
}
.box3 {
  background: url("../assets/img/box3-1.png") no-repeat center;
  background-size: cover;
}
#hero-img {
  height: 100vh;
  position: absolute;
}
.hero-img-box .hero-img-move {
  /* transform: translateY(50%); */
  animation: heroImgMove 0.5s cubic-bezier(0.42, 0, 0.4, 0.79) forwards;
}

.box3 .hero-js {
  width: 50vw;
  position: absolute;
  bottom: 5vh;
  left:  -50vw;
  padding: 4px 4px;
  z-index: 20;
}
.box3 .hero-js-move{
  animation: herojsmove 0.3s linear forwards;
}
.hero-js .hero-name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.introduce {
  padding: 5px;
}
.hero-js .hero-name img {
  height: 36px;
  width: 36px;
  display: inline-block;
  margin-right: 3px;
}
.hero-js .hero-name p{
  margin: 0px;
  font-size: 16px;
  font-weight: bold;
  color:#092635;
  text-shadow: #ffffff 1px 0 0, #ffffff 0 1px 0, #ffffff -1px 0 0, #ffffff 0 -1px 0;
}
.hero-js-txt {
  margin-top: 5px;
  font-size: 12px;
  color: #F5C381;
}
.hero-gallery {
  width: 240px;
  position: absolute;
  right: 3vw;
  bottom: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  z-index: 3;
  transform: translateX(23vw) rotate(-45deg);
}
.hero-gallery .hero-gallery-item {
  width: 20%;
  box-sizing: border-box;
}
.hero-gallery .hero-gallery-item img {
  width: 100%;
  display: block;
  cursor: pointer;
}
.hero-gallery .hero-gallery-item:active {
  border: 2px solid blue;
}
.box4 {
  background: url("../assets/img/box3-1.png") no-repeat center;
  background-size: cover;
}
.box4-img {
  width: 100%;
  height: 100vh;
}
.box2 {
  background-color: #000000;
  overflow: hidden;
}
.map-img {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  overflow-x: auto;
  position: relative;
}
@keyframes herojsmove {
  0% {
    left: -50vw
  }
  100% {
    left: 0vw;
  }
}
@keyframes heroImgMove {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 0%;
  }
}
#map-coordinates {
  position: absolute;
  left: 2vw;
  bottom: 3vh;
  z-index: 2;
}

#map-coordinates img{
  width: 40vw;
  display: block;
}
#map-coordinates .wz-describe {
  position: absolute;
  top: 0vh;
  left: 0vw;
  padding: 1vh 1vw;
  box-sizing: border-box;
  width: 100%;
}
#map-coordinates .wz-describe .wz-describe-title {
  font-size: 14px;
  color: #E5D4BF;
  text-align: center;
  width: 100%;
}
#map-coordinates .wz-describe .hz-line {
  width: 85%;
  height: 1px;
  background-color: #9F825E;
  margin: 2px auto;
}
#map-coordinates .wz-describe .description-txt {
  width: 100%;
}
#map-coordinates .wz-describe .description-txt p{
  width: 100%;
  margin: 0px;
  margin-bottom: 2px;
  font-size: 12px;
  color: #E5D4BF;
  text-align: center;
}
.checkpoint {
  width: 30vw;
  position: absolute;
  cursor: pointer;
  z-index: 3;
}
.checkpoint img {
  width: 100%;
  display: block;
}
.checkpoint1 {
  top: 40%;
  left: 8%;
}
.checkpoint2 {
  top: 19%;
  left: 43%;
}
.checkpoint3 {
  top: 37%;
  left: 37%;
}
.checkpoint4 {
  top: 21%;
  left: 84%;
}
.checkpoint5 {
  top: 36%;
  left: 75%;
}
.checkpoint6 {
  top: 54%;
  left: 69%;
}
.checkpoint7 {
  top: 9%;
  left: 147%;
}
.checkpoint8 {
  top: 25%;
  left: 135%;
}

.checkpoint9 {
  top: 42%;
  left: 122%;
}
.checkpoint10 {
  top: 54%;
  left: 110%;
}
.checkpoint11 {
  top: 22%;
  left: 180%;
}
.checkpoint12 {
  top: 41%;
  left: 170%;
}
.checkpoint13 {
  top: 61%;
  left: 135%;
}
.checkpoint14 {
  top: 51%;
  left: 207%;
}
.checkpoint15 {
  top: 61%;
  left: 201%;
}
.checkpoint:hover {
  animation: checkpointMove 600ms linear infinite alternate-reverse;
}
@keyframes checkpointMove {
  0% {
    transform: scale(1.1) translateY(-2px);
  }
  100% {
    transform: scale(1.1) translateY(2px);
  }
}
@keyframes cloudtop1 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
.nezha {
  transform: translate(-10vw, 10vh);
}
.yangjian {
  transform: translate(-20vw, 8vh);
}
.gonggong {
  transform: translate(-19vw, 10vh);
}
.randenɡ {
  transform:translate(-20vw, 2vh);
}
.suwukong {
  transform:translate(-18vw, 10vh);
}
.guhongniao {
  transform:translate(-20vw, 5vh);
}
.mazu {
  transform:translate(-13vw, 10vh);
}
.jiumaoming {
  transform:translate(-26vw, 8vh);
}
.box5 {
  background: url("../assets/img/hbj5.png") no-repeat center;
  background-size: cover;
}
.box5 .footer {
  width: 80%;
  box-sizing: border-box;
  padding: 10px;
  background-color: #c0b6af;
  border-radius: 5px;
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
}
.footer-logo img {
  width: 100%;
  display: block;
  margin: 0px auto;
}
.box-content5 {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
}
.box-content5 .swiper-container-v2 {
  width: 100%;
}
.box-content5 .swiper-container-v2 .swiper-slide {
  width: 80%;
}
.swiper-slide-content .video-img {
  width: 100%;
}
.swiper-slide-content .play-img {
  width: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.box4 .swiper-container-v {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  width: 100%;
  height: 100%;
}
.box4 .swiper-container-v .swiper-slide {
  position: relative;
}
.box4 .swiper-container-v  .swiper-slide .scroll-box {
  height: 100%;
}
.box4 .swiper-container-v .swiper-slide .gif-box {
  height: 80%;
  position: absolute;
  top: 50%;
}
.gif-box1 {
  left: 40%;
  transform: translate(-50%, -50%);
}
.gif-box2 {
  left: 55%;
  transform: translate(-50%, -50%);
}
.gif-box3 {
  left: 37%;
  transform: translate(-50%, -50%);
}
.gif-box4 {
  left: 32%;
  transform: translate(-50%, -50%);
}
.gif-box5 {
  left: 50%;
  transform: translate(-50%, -50%);
}
.gif-box6 {
  left: 50%;
  transform: translate(-50%, -50%);
}
.gif-box7 {
  left: 30%;
  transform: translate(-50%, -50%);
}
.box-head {
  position: absolute;
  font-weight: 600;
  top: 30px;
  left: 0px;
  padding: 0px 15px;
  z-index: 3;
}
.box-head-wz {
  left: 20vw;
}
.box-head .box-title {
  color: transparent;
  -webkit-line-clamp: 2;
  background:linear-gradient(0deg,rgba(9,38,52,1) 0.1220703125%, rgba(29,67,90,1) 100%);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}
.box-head .hero-infor-line {
  margin-top: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: -15px;
  margin-right: -15px;
}
.box-head .hero-infor-line .hz-line {
  flex: 1;
  height: 1px;
  background:linear-gradient(0deg,rgba(9,38,52,1) 0.1220703125%, rgba(29,67,90,1) 100%);
}
.box-head .hero-infor-line .square1 {
  width: 4px;
  height: 4px;
  border: 1px solid;
  border-color:rgba(9,38,52,1);
  transform: rotate(45deg);
}
.box-head .hero-infor-line .square2 {
  width: 6px;
  height: 6px;
  background: linear-gradient(0deg,rgba(9,38,52,1) 0.1220703125%, rgba(29,67,90,1) 100%);
  transform: rotate(45deg);
  margin-left: 3px;
}
.box-head .box-title-color1{
  background: linear-gradient(0deg,rgba(245,193,129,1) 0.1220703125%, rgba(255,244,186,1) 100%);
  -webkit-background-clip: text;
  color: transparent;
}
.box-head .hero-infor-line .hz-line1-color1 {
  background:linear-gradient(0deg,rgba(245,193,129,1) 0.1220703125%, rgba(255,244,186,1) 100%);
}
.box-head .hero-infor-line .square1-color1 {
  border-color: rgba(245,193,129,1);
}
.box-head .hero-infor-line .square2-color1 {
  background: linear-gradient(0deg,rgba(245,193,129,1) 0.1220703125%, rgba(255,244,186,1) 100%);
}
.box6 {
  background: url("../assets/img/box6.png") no-repeat center;
  background-size: cover;
}

.box6 .swiper-container-v1 {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  width: 100%;
  height: 100%;
}
.box6 .swiper-container-v1 .swiper-slide {
  width: 100%;
  position: relative;
}
.box6 .swiper-container-v1 .swiper-slide .wq-tp {
  height: 100%;
  display: block;
  transform: scale(0.7);
}
.box6 .swiper-container-v1 .swiper-slide .wq-tp1 {
  transform: scale(0.7) translate(10vw, 0px);
}
.box6 .swiper-container-v1 .swiper-slide .wq-tp2 {
  transform: scale(0.7) translate(15vw, 4vh);
}
.box6 .swiper-container-v1 .swiper-slide .wq-tp3 {
  transform: scale(0.7) translate(14vw, 0vh);
}
.box6 .swiper-container-v1 .swiper-slide .wq-tp4 {
  transform: scale(0.7) translate(10vw, 5vh);
}
.box6 .swiper-container-v1 .swiper-slide .wq-tp5 {
  transform: scale(0.7) translate(12vw, 0vh);
}
.box6 .swiper-container-v1 .swiper-slide .wq-tp6 {
  transform: scale(0.7) translate(3vw, 0vh);
}
.hero-card {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  z-index: 100;
}
.hero-card  .hearo-card-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -60%);
}
.hero-card  .hearo-card-content img {
  display: block;
}
.closed {
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: absolute;
  left: 50%;
  bottom: -10vh;
  transform: translateX(-50%);
}
.closed img {
  width: 100%;
}
.cardHero1 {
  transform: scale(0.6) translate(10px, 20px);
}
.cardHero2 {
  transform: scale(0.6) translate(10px, 20px);
}
.cardHero3 {
  transform: scale(0.6) translate(15%, 20px);
}
.cardHero4 {
  transform: scale(0.6) translate(50px, 20px);
}
.cardHero5 {
  transform: scale(0.6) translate(25vw, 0px);
}
.cardHero6 {
  transform: scale(0.6) translate(25vw, 0px);
}
.hero-card .cardHerott4 {
  transform: translate(-42%, -60%);
}
.hero-card .cardHerott4 .closed {
  left: 40%;
}
.hero-card .cardHerott5 {
  transform: translate(-42%, -60%);
}
.hero-card .cardHerott5 .closed {
  left: 35%;
}
.hero-card .cardHerott6 {
  transform: translate(-74vw, -65%);
}
.hero-card .cardHerott7 {
  transform: translate(-48%, -60%);
}
.cardHero6 {
  transform: scale(0.6) translate(-60px, 20px);
}
.cardHero7 {
  transform: scale(0.6) translate(-60px, 20px);
}
.cardHero8 {
  transform: scale(0.6) translate(10px, 20px);
}
.jt {
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, 0%);
  z-index: 2;
}
.jt img {
  width:100px;
}

.card-js {
  text-align: center;
  background: linear-gradient(0deg,rgba(245,193,129,1) 0.1220703125%, rgba(255,244,186,1) 100%);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 30px;
  font-weight: 600;
}
.cardHero4 .card-js {
  transform: translateX(-10%);
}
.cardHero5 .card-js {
  transform: translateX(-16%);
}

