.box {
  position: relative;
}
.swiper-container {
  width: 100%;
  min-width: 1220px;
  height: 100vh;
  --swiper-theme-color: #FFEE22;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.page {
  width: 100%;
  height: 100%; 
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.page1 {
  background: url("../assets/img/1.png") no-repeat center;
  .image-box1 {
    position: absolute;
    top: 0px;
    left: 0px;
    img {
      width: 100%;
      opacity: 0.6;
      display: block;
    }
  }
  .image-box2 {
    width: 75%;
    margin: 0px auto;
    position: relative;
    z-index: 2;
    img {
      width: 100%;
      display: block;
    }
  }
}
.page1-clouds-top {
  width: 100%;
  position: absolute;
  animation-name: cloudMove;
  animation-duration: 3s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.63, 0.04, 0.49, 1.01);
  img {
    width: 100%;
    opacity: 0.4;
    display: block;
  }
}
.page1-footer {
  position: absolute;
  bottom: 0px;
  .page1-footer-clouds {
    width: 100%;
    img {
      width: 100%;
      opacity: 0.4;
      display: block;
    }
  }
}

.page1-footer {
  width: 100%;
  position: absolute;
  bottom: 0px;
  animation-name: cloudMove1;
  animation-duration: 3s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.63, 0.04, 0.49, 1.01);
}

.page2 {
  background-image: url("../assets/img/bj2.jpg");
  background-size: 100% 100%;
  .page-infor {
    position: absolute;
    min-height: 200px;
    top: 30px;
    left: 50px;
    z-index: 3;
    padding: 20px;
    box-sizing: border-box;
    .page-infor-title {
      color: #F5C381;
      font-size: 60px;
      font-family:Microsoft YaHei;
      font-weight: 400;
      letter-spacing: 3px;
    }
    .page-infor-line {
      margin: 10px 0px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .hz-line {
        flex: 1;
        height: 1px;
        background-color: #F5C381;
      }
      .square1 {
        width: 8px;
        height: 8px;
        border: 1px solid #F5C381;
        transform: rotate(45deg);
      }
      .square2 {
        width: 10px;
        height: 10px;
        background-color: #F5C381;
        transform: rotate(45deg);
        margin-left: 3px;
      }
    }
    .hero-name {
      width: 100%;
      padding: 0px 20px;
      position: absolute;
      left: -300px;
      text-align: left;
      box-sizing: border-box;
      img {
        width: 40px;
        vertical-align: middle;
      }
      .hero-name-txt {
        color: #092635;
        font-size: 26px;
        font-family:Microsoft YaHei;
        font-weight: 400;
        vertical-align: middle;
        display: inline-block;
      }
    }
    .hero-name-move {
      transition: all 500ms linear;
      transform: translateX(300px);
    }
    .introduce {
      position: absolute;
      margin-top: 10px;
      color: #092635;
      text-align: left;
    }
  }
  .cloud {
    width: 100%;
    opacity: 0.7;
    display: block;
   
  }
  .cloud1 {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0.8;
    animation-name: cloudMove1;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.63, 0.04, 0.49, 1.01);
    img {
      display: block;
      width: 100%;
    }
  }
  .cloud2 {
    position: absolute;
    height: 220px;
    left: 0px;
    bottom: 0px;
    z-index: 4;
    opacity: 0.8;
    animation-name: cloudMove1;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.63, 0.04, 0.49, 1.01);
    img {
      display: block;
      width: 100%;
    }
  }
  .checkpoint {
    width: 240px;
    position: absolute;
    cursor: pointer;
    z-index: 3;
    img {
      width: 100%;
      display: block;
    }
  }
  .checkpoint1 {
    top: 42%;
    left: 6%;
  }
  .checkpoint2 {
    top: 22%;
    left: 18%;
  }
  .checkpoint3 {
    top: 43%;
    left: 18%;
  }
  .checkpoint4 {
    top: 22%;
    left: 33%;
  }
  .checkpoint5 {
    top: 36%;
    left: 31%;
  }
  .checkpoint6 {
    top: 58%;
    left: 28%;
  }
  .checkpoint7 {
    top: 6%;
    left: 57%;
  }
  .checkpoint8 {
    top: 23%;
    left: 54%;
  }
  .checkpoint9 {
    top: 42%;
    left: 49%;
  }
  .checkpoint10 {
    top: 59%;
    left: 43%;
  }
  .checkpoint11 {
    top: 18%;
    left: 72%;
    width: 240px;
  }
  .checkpoint12 {
    top: 40%;
    left: 65%;
    width: 260px;
  }
  .checkpoint13 {
    top: 65%;
    left: 54%;
    width: 260px;
  }
  .checkpoint14 {
    top: 50%;
    left: 79%;
    width: 260px;
  }
  .checkpoint15 {
    top: 64%;
    left: 75%;
    width: 220px;
  }
  .checkpoint:hover {
    animation: checkpointMove 600ms linear infinite alternate-reverse;
  }
  .description-box {
    width: 400px;
    position: absolute;
    bottom: 2.9%;
    left: 2.9%;
    z-index: 10;
    img {
      width: 100%;
    }
    .description-wz {
      width: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: 2;
      padding: 30px 10px;
      box-sizing: border-box;
      p {
        margin: 0px 0px 5px 0px;
        text-align: center;
        font-size: 24px;
        font-family:Microsoft YaHei;
        font-weight:400;
        color:rgba(229,212,191,1);
      }
      .title {
        font-size: 36px;
        font-family:Microsoft YaHei;
        font-weight:400;
        color:rgba(229,212,191,1);
        line-height:33px;
      }
      .hz-line {
        width: 70%;
        height: 1px;
        background-color: #D2BDA4;
        margin: 15px auto;
      }
    }
  }
}

.recharge-box {
  width: 220px;
  height: 259px;
  background: url("../assets/img/page1.png") no-repeat center;
  background-size: cover;
  position: absolute;
  right: 0px;
  top: 50%;
  z-index: 10;
  transform: translateY(-50%);
  box-sizing: border-box;
  padding: 13px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    li {
      padding: 14px 0px 14px 14px;
      box-sizing: border-box;
      .recharge-item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;
        .icon {
          height: 30px;
          width: 30px;
        }
        .icon_dollar {
          background: url("../assets/img/dollar.png") no-repeat center;
          background-size: contain;
        }
        .icon_apple {
          background: url("../assets/img/apple.png") no-repeat center;
          background-size: contain;
        }
        .icon_google-play {
          background: url("../assets/img/google-play.png") no-repeat center;
          background-size: contain;
        }
        .right {
          margin-left: 10px;
          p {
            margin: 0px;
            text-align: left;
            color:#B28768;
          }
          .ft-en {
            font-size: 14px;
            font-weight: 400;
          }
          .ft-zh {
            font-size: 24px;
            font-weight:bold;
          }
        }
      }
    }
    .hz-line {
      width: 70%;
      height: 1px;
      background-color: #D2BDA4;
      margin: 0px auto;
    }
  }
}
.menu {
  position: absolute;
  right: 30px;
  top: 20px;
  z-index: 10;
  .menu-ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .menu-ul-li {
      position: relative;
      div {
        img {
          display: block;
          cursor: pointer;
        }
      }
      & > .youtube img:first-child {
        display: block;
      }
      & > .youtube img:last-child {
        display: none;
      }
      & > .youtube:hover img:first-child {
        display: none;
      }
      & > .youtube:hover img:last-child {
        display: block;
      }
      & > .facebook img:first-child {
        display: block;
      }
      & > .facebook img:last-child {
        display: none;
      }
      & > .facebook:hover img:first-child {
        display: none;
      }
      & > .facebook:hover img:last-child {
        display: block;
      }
      & > .instagram img:first-child {
        display: block;
      }
      & > .instagram img:last-child {
        display: none;
      }
      & > .instagram:hover img:first-child {
        display: none;
      }
      & > .instagram:hover img:last-child {
        display: block;
      }
      & > .twitter img:first-child {
        display: block;
      }
      & > .twitter img:last-child {
        display: none;
      }
      & > .twitter:hover img:first-child {
        display: none;
      }
      & > .twitter:hover img:last-child {
        display: block;
      }
      .indicator {
        position: absolute;
        left: 50%;
        bottom: -190px;
        transform: translate(-50%, 0%);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .vertical-line {
          width: 2px;
          height: 14px;
          background-color: #ffffff;
        }
        .indicator-icon {
          width: 20px;
          height: 20px;
          cursor: pointer;
        }
        .indicator-noActive {
          background: url("../assets/img/indicator.png") no-repeat center;
          background-size: contain;
        }
        .indicator-active {
          background: url("../assets/img/indicator-active.png") no-repeat center;
          background-size: contain;
        }
        div {
          margin-bottom: 2px;
        }
      }
    }
    &>.menu-ul-li:not(:last-child) {
      margin-right: 15px;
    }
  }
}
.page3 {
  background: url("../assets/img/bj5.png") no-repeat center;
  .hero-infor {
    position: absolute;
    min-height: 200px;
    top: 30px;
    left: 50px;
    z-index: 3;
    padding: 20px;
    box-sizing: border-box;
    .hero-infor-title {
      color: #092635;
      font-size: 60px;
      font-family:Microsoft YaHei;
      font-weight: 400;
      letter-spacing: 3px;
    }
    .hero-infor-line {
      margin: 10px 0px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .hz-line {
        flex: 1;
        height: 1px;
        background-color: #092635;
      }
      .square1 {
        width: 8px;
        height: 8px;
        border: 1px solid #092635;
        transform: rotate(45deg);
      }
      .square2 {
        width: 10px;
        height: 10px;
        background-color: #092635;
        transform: rotate(45deg);
        margin-left: 3px;
      }
    }
    .hero-name {
      width: 100%;
      padding: 0px 20px;
      position: absolute;
      left: -300px;
      text-align: left;
      box-sizing: border-box;
      img {
        width: 40px;
        vertical-align: middle;
      }
      .hero-name-txt {
        color: #092635;
        font-size: 26px;
        font-family:Microsoft YaHei;
        font-weight: 400;
        vertical-align: middle;
        display: inline-block;
      }
    }
    .hero-name-move {
      transition: all 500ms linear;
      transform: translateX(300px);
    }
    .introduce {
      position: absolute;
      margin-top: 10px;
      color: #092635;
      text-align: left;
    }
  }
  .hero-pictures {
    position: absolute;
    right:  -100%;
    bottom: -100%;
    z-index: 2;
    transition: all 1s linear;
    img {
      display: block;
    }
  }
  .nezha {
    bottom: 30%;
    right: 50%;
    transform: translate(50%, 50%) scale(1.5);
  }
  .yangjian {
    bottom: 20%;
    right: 50%;
    transform: translate(50%, 50%) scale(1.5);
  }
  .gonggong {
    bottom: 40%;
    right: 50%;
    transform: translate(50%, 50%) scale(1.5);
  }
  .randenɡ {
    bottom: 30%;
    right: 50%;
    transform: translate(50%, 50%) scale(1.5);
  }
  .suwukong {
    bottom: 35%;
    right: 50%;
    transform: translate(50%, 50%) scale(1.5);

  }
  .guhongniao {
    bottom: 30%;
    right: 50%;
    transform: translate(50%, 50%) scale(1.5);
  }
  .mazu {
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 60%) scale(0.8);
  }
  .jiumaoming {
    bottom: 30%;
    right: 50%;
    transform: translate(50%, 50%) scale(1.5);
  }
  .hero-gallery {
    width: 400px;
    position: absolute;
    right: 10px;
    top: 40%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    z-index: 3;
    transform: rotate(-45deg);
    .hero-gallery-item {
      width: 80px;
      height: 80px;
      padding: 2px;
      box-sizing: border-box;
      position: relative;
      img {
        height: 100%;
        display: block;
        cursor: pointer;
      }
      img:hover {
        border:2px solid blue;
      }
    }
    
  }
}
.page4 {
  overflow: hidden;
  overflow-x: auto;
  background: #000000;
  .swiper-container-v {
    width: 100%;
    .scroll-box {
      height: 100%;
    }
    .swiper-slide {
      position: relative;
      .gif-box {
        height: 80%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
      .gif-box1 {
        left: 20%;
      }
      .gif-box2 {
        left: 24%;
      }
      .gif-box3 {
        left: 5%;
      }
      .gif-box4 {
        left: 3%;
      }
      .gif-box5 {
        left: 20%;
      }
      .gif-box6 {
        left: -6%;
      }
      .gif-box7 {
        left: -10%;
      }
      .gif-box8 {
        left: 20%;
      }
      .gif-box9 {
        left: 5%;
      }
      .gif-box10 {
        left: 5%;
      }
    }
  }
  .arrow {
    position: absolute;
    z-index: 10;
    cursor: pointer;
  }
  .arrow-up {
    left: 50%;
    transform: translateX(-50%);
    animation: arrowUpMove 2s cubic-bezier(0, 0, 0.2, 1) infinite;
  }
  .arrow-down {
    left: 50%;
    bottom:0%;
    transform: translateX(-50%);
    animation: arrowDownMove 2s cubic-bezier(0, 0, 0.2, 1) infinite;
  }
  .ts-movelrt {
    position: absolute;
    left: 50%;
    bottom: 40px;
    z-index: 9;
    transform: translateX(-50%);
    width: 100px;
    img {
      width: 100%;
      display: block;
    }
  }
}

@keyframes heroName {
  0% {
    opacity: 0;
    left: -10px;
  }
  0% {
    left: none;
    opacity: 1;
  }
}

@keyframes cloudMove1 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}

@keyframes cloudMove {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}
@keyframes checkpointMove {
  0% {
    transform: scale(1.1) translateY(-2px);
  }
  100% {
    transform: scale(1.1) translateY(2px);
  }
}
@keyframes arrowUpMove {
  0% {
    opacity: 0;
    top: 20px
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}
@keyframes arrowDownMove {
  0% {
    opacity: 0;
    bottom: 20px
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}
.page5 {
  background: url("../assets/img/bj5.png") no-repeat center;
  .page5-infor {
    position: absolute;
    min-height: 200px;
    top: 30px;
    left: 50px;
    z-index: 3;
    padding: 20px;
    box-sizing: border-box;
    .page5-infor-title {
      color: #092635;
      font-size: 60px;
      font-family:Microsoft YaHei;
      font-weight: 400;
      letter-spacing: 3px;
    }
    .page5-infor-line {
      margin: 10px 0px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .hz-line {
        flex: 1;
        height: 1px;
        background-color: #092635;
      }
      .square1 {
        width: 8px;
        height: 8px;
        border: 1px solid #092635;
        transform: rotate(45deg);
      }
      .square2 {
        width: 10px;
        height: 10px;
        background-color: #092635;
        transform: rotate(45deg);
        margin-left: 3px;
      }
    }
  }
  .video-box {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    .video-box-ms {
      width: 100%;
      margin-bottom: 30px;
      .movie {
        width: 120px;
        margin: 0px auto;
        font-size:36px;
        font-family:Microsoft YaHei;
        font-weight:bold;
        color:rgba(9,38,53,1);
        background:linear-gradient(0deg,rgba(9,38,52,1) 0.1220703125%, rgba(29,67,90,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        border-bottom: 2px solid #092635;
      }
    }
    .video-list {
      width: 100%;
      background: url("../assets/img/bj5.png") no-repeat center;
      background-size: cover;
      height: 530px;
      position: relative;
      .swiper-container {
        width: 100%;
        height: 100%;
        .swiper-slide {
          text-align: center;
          font-size: 18px;
          background: transparent;
          /* Center slide text vertically */
          display: -webkit-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          -webkit-align-items: center;
          align-items: center;
          width: 760px;
          .swiper-slide-content {
            width: 100%;
            position: relative;
            .video-img {
              width: 100%;
              display: block;
            }
            .play-img {
              width: 80px;
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  .footer {
    width: 800px;
    box-sizing: border-box;
    padding: 0px 10px;
    background-color: #AFB9C0;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .footer-left {
    width: 250px;
    margin-right: 40px;
    .kiwi-logo {
      width: 100%;
      display: block;
    }
  }
  .footer-right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    img{
      height: 40px;
    }
    ul {
      li {
        color: #ffffff;
        font-size: 12px;
        text-align: left;
        padding: 2px 0px;
        box-sizing: border-box;
        list-style-type: square;
      }
    }
  }
}

.page6 {
  background: url("../assets/img/bj6.jpg") no-repeat center;
  .page6-infor {
    position: absolute;
    min-height: 200px;
    top: 30px;
    left: 50px;
    z-index: 3;
    padding: 20px;
    box-sizing: border-box;
    .page6-infor-title {
      color: #092635;
      font-size: 60px;
      font-family:Microsoft YaHei;
      font-weight: 400;
      letter-spacing: 3px;
    }
    .page6-infor-line {
      margin: 10px 0px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .hz-line {
        flex: 1;
        height: 1px;
        background-color: #092635;
      }
      .square1 {
        width: 8px;
        height: 8px;
        border: 1px solid #092635;
        transform: rotate(45deg);
      }
      .square2 {
        width: 10px;
        height: 10px;
        background-color: #092635;
        transform: rotate(45deg);
        margin-left: 3px;
      }
    }
  }
  .video-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    #swiper2 {
      .swiper-slide {
        background: transparent;
      }
    }
    .video-content {
      .swiper-container-v2 {
        width: 900px;
        overflow: hidden;
      }
      .swiper-slide-content {
        position: relative;
        .video-img {
          height: 400px;
          display: block;
        }
        .play-img {
          width: 40px;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          cursor: pointer;
        }
      }
    }
  }
  .footer {
    width: 800px;
    box-sizing: border-box;
    padding: 0px 10px;
    background-color: #c0b6af;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .footer-left {
    width: 250px;
    margin-right: 40px;
    .kiwi-logo {
      width: 100%;
      display: block;
    }
  }
  .footer-right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    img{
      height: 40px;
    }
    ul {
      padding-inline-start: 20px;
      li {
        color: #ffffff;
        font-size: 12px;
        text-align: left;
        padding: 2px 0px;
        box-sizing: border-box;
        list-style-type: square;
      }
    }
  }
}

@media screen and (max-width: 1439px) {
  .page2 {
    .cloud2 {
      position: absolute;
      height: 130px;
    }
    .checkpoint4 {
      top: 18%;
      left: 38%;
    }
    .checkpoint5 {
      top: 36%;
      left: 33%;
    }
    .checkpoint7 {
      top: 4%;
      left: 54%;
    }
    .checkpoint8 {
      top: 21%;
      left: 57%;
    }
    .checkpoint13 {
      z-index: 5;
    }
    .description-box {
      width: 300px;
      .description-wz {
        padding: 20px 10px;
        p {
          font-size: 16px;
        }
        .title {
          font-size: 24px;
        }
        .hz-line {
          width: 70%;
          height: 1px;
          background-color: #D2BDA4;
          margin: 10px auto;
        }
      }
    }
  }
  .page3 {
    .hero-infor {
      .hero-infor-title {
        font-size: 30px;
      }
    }
  }
  .page6 {
    .page6-infor{
      .page6-infor-title {
        font-size: 30px;
      }
    }
    .footer {
      bottom: 20px;
    }
  }
}
.video-box .swiper-button-prev {
  left:-60px;
}
.video-box  .swiper-button-next {
  right: -60px;
}