<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Genesis: Anthem of Deities-太初行</title>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script>
    if(/Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)) {
      window.location.href = "./h5index.html";
    }
  </script>
</head>
<body>
  <div class="load-box">
    <div class="load-content">
      <img src="<%= require('../assets/img/load.png') %>" >
      <p>已加载80%<span class="dot dot1">.</span><span class="dot dot2">.</span><span class="dot dot3">.</span></p>
    </div>
  </div>
  <div class="box">
    <div class="menu">
      <ul class="menu-ul">
        <li class="menu-ul-li">
          <a class="youtube" href="javascript:void(0);" target="_blank">
            <img src="<%= require('../assets/img/youtube.png') %>" width="20px"/>
            <img src="<%= require('../assets/img/youtube1.png') %>" />
          </a>
        </li>
        <li class="menu-ul-li">
          <a class="facebook" href="https://www.facebook.com/GenesisAnthem" target="_blank">
            <img src="<%= require('../assets/img/facebook.png') %>" width="20px"/>
            <img src="<%= require('../assets/img/facebook1.png') %>" />
          </a>
        </li>
        <li class="menu-ul-li">
          <a class="twitter" href="javascript:void(0);" target="_blank">
            <img src="<%= require('../assets/img/twitter.png') %>" class="no" width="20px"/>
            <img src="<%= require('../assets/img/twitter1.png') %>" />
          </a>
        </li>
        <li class="menu-ul-li">
          <a class="instagram" href="javascript:void(0);" target="_blank">
            <img src="<%= require('../assets/img/instagram.png') %>" width="20px"/>
            <img src="<%= require('../assets/img/instagram1.png') %>" />
          </a>
        </li>
       
        <li class="menu-ul-li">
          <div>
            <img src="<%= require('../assets/img/menu.png') %>" />
          </div>
          <div class="indicator">
            <div class="vertical-line"></div>
            <div class="indicator-icon indicator-active" data-swiper="switchSwiper" data-index="0"></div>
            <div class="vertical-line"></div>
            <div class="indicator-icon indicator-noActive" data-swiper="switchSwiper" data-index="1"></div>
            <div class="vertical-line"></div>
            <div class="indicator-icon indicator-noActive" data-swiper="switchSwiper" data-index="2"></div>
            <div class="vertical-line"></div>
            <div class="indicator-icon indicator-noActive" data-swiper="switchSwiper" data-index="3"></div>
            <div class="vertical-line"></div>
            <div class="indicator-icon indicator-noActive" data-swiper="switchSwiper" data-index="4"></div>
          </div>
        </li>
      </ul>
    </div>
    <div class="swiper-container swiper-container-h">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="page page1">
            <!-- <div class="image-box1">
              <img src="<%= require('../assets/img/2.jpg') %>" />
            </div>
            <div class="image-box2">
              <img src="<%= require('../assets/img/3.png') %>" />
            </div> -->
            <div class="recharge-box">
              <ul class="recharge-ul">
                <li>
                  <div class="recharge-item" id="recharge">
                    <div class="icon icon_dollar"></div>
                    <div class="right">
                      <p class="ft-en">Recharge</p>
                      <p class="ft-zh">官网充值</p>
                    </div>
                  </div>
                </li>
                <div class="hz-line"></div>
                <li>
                  <div class="recharge-item" id="downApple">
                    <div class="icon icon_apple"></div>
                    <div class="right">
                      <p class="ft-en">Download on the</p>
                      <p class="ft-zh">App Store</p>
                    </div>
                  </div>
                </li>
                <div class="hz-line"></div>
                <li>
                  <div class="recharge-item" id="downGoogle">
                    <div class="icon icon_google-play"></div>
                    <div class="right">
                      <p class="ft-en">GET IT ON</p>
                      <p class="ft-zh">Google Play</p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="page1-clouds-top">
              <img src="<%= require('../assets/img/bj1-1.png') %>" />
            </div>
            <div class="page1-footer">
              <div class="page1-footer-clouds">
                <img src="<%= require('../assets/img/bj1-2.png') %>" />
              </div>
              <div class="page1-footer-clouds">
                <img src="<%= require('../assets/img/bj1-3.png') %>" />
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="page page2">
            <!-- <div class="page-infor">
              <div class="page-infor-title">世界地图</div>
              <div class="page-infor-line">
                <div class="hz-line"></div>
                <div class="square1"></div>
                <div class="square2"></div>
              </div>
            </div> -->
            <div class="box-head">
              <div class="box-title box-title-color1">
                世界地图
              </div>
              <div class="hero-infor-line ">
                <div class="hz-line"></div>
                <div class="square1"></div>
                <div class="square2"></div>
              </div>
            </div>
            <div class="cloud1">
              <img src="<%= require('../assets/img/cloud1.png') %>"  />
            </div>
            <div class="checkpoint checkpoint1" data-level-index="0">
              <img src="<%= require('../assets/img/db1.png') %>" >
            </div>
            <div class="checkpoint checkpoint2" data-level-index="2">
              <img src="<%= require('../assets/img/db2.png') %>" >
            </div>
            <div class="checkpoint checkpoint3" data-level-index="1">
              <img src="<%= require('../assets/img/db3.png') %>" >
            </div>
            <div class="checkpoint checkpoint4" data-level-index="3">
              <img src="<%= require('../assets/img/db4.png') %>" >
            </div>
            <div class="checkpoint checkpoint5" data-level-index="4">
              <img src="<%= require('../assets/img/db5.png') %>" >
            </div>
            <div class="checkpoint checkpoint6" data-level-index="5">
              <img src="<%= require('../assets/img/db6.png') %>" >
            </div>
            <div class="checkpoint checkpoint7" data-level-index="10">
              <img src="<%= require('../assets/img/db7.png') %>" >
            </div>
            <div class="checkpoint checkpoint8" data-level-index="9">
              <img src="<%= require('../assets/img/db8.png') %>" >
            </div>
            <div class="checkpoint checkpoint9" data-level-index="8">
              <img src="<%= require('../assets/img/db9.png') %>" >
            </div>
            <div class="checkpoint checkpoint10" data-level-index="6">
              <img src="<%= require('../assets/img/db10.png') %>" >
            </div>
            <div class="checkpoint checkpoint11" data-level-index="11">
              <img src="<%= require('../assets/img/db11.png') %>" >
            </div>
            <div class="checkpoint checkpoint12" data-level-index="12">
              <img src="<%= require('../assets/img/db12.png') %>" >
            </div>
            <div class="checkpoint checkpoint13" data-level-index="7">
              <img src="<%= require('../assets/img/db13.png') %>" >
            </div>
            <div class="checkpoint checkpoint14" data-level-index="13">
              <img src="<%= require('../assets/img/db14.png') %>" >
            </div>
            <div class="checkpoint checkpoint15" data-level-index="14">
              <img src="<%= require('../assets/img/db15.png') %>" >
            </div>
            <div class="description-box">
              <img src="<%= require('../assets/img/page2.png') %>" />
              <div class="description-wz">
                <p class="title">壹 · 荆棘流域</p>
                <div class="hz-line"></div>
                <div class="description-txt">
                  <p>樵村渔浦，毁于一旦。</p>
                  <p>渔夫村老，十不存一。</p>
                  <p>妖兽天灾，堪如灭顶。</p>
                  <p>昔日风光，何时再现。</p>
                </div>
              </div>
            </div>
            <div class="cloud2">
              <img src="<%= require('../assets/img/cloud2.png') %>"  />
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          
          <div class="page page3">
            <div class="hero-infor">
              <div class="hero-infor-title">神将展示</div>
              <div class="hero-infor-line">
                <div class="hz-line"></div>
                <div class="square1"></div>
                <div class="square2"></div>
              </div>
              <div class="hero-name hero-name-move">
                <div>
                  <img src="" id="herotype" />
                  <div class="hero-name-txt"></div>
                </div>
                <div class="introduce"></div>
              </div>
              
            </div>
            <div class="hero-pictures" id="heropictures">
              <!-- <img src="" id="hero-img"/> -->
            </div>
            <div class="hero-gallery">
              <div class="hero-gallery-item"></div>
              <div class="hero-gallery-item"></div>
              <div class="hero-gallery-item"></div>
              <div class="hero-gallery-item">
                <img src="<%= require('../assets/img/hero-icon1.png') %>" data-gallery-img="img" data-gallery-index="0"/>
              </div>
              <div class="hero-gallery-item">
                <img src="<%= require('../assets/img/hero-icon2.png') %>" data-gallery-img="img" data-gallery-index="1"/>
              </div>

              <div class="hero-gallery-item"></div>
              <div class="hero-gallery-item"></div>
              <div class="hero-gallery-item">
                <img src="<%= require('../assets/img/hero-icon3.png') %>" data-gallery-img="img" data-gallery-index="2"/>
              </div>
              <div class="hero-gallery-item">
                <img src="<%= require('../assets/img/hero-icon4.png') %>" data-gallery-img="img" data-gallery-index="3"/>
              </div>
              <div class="hero-gallery-item"></div>

              <div class="hero-gallery-item"></div>
              <div class="hero-gallery-item">
                <img src="<%= require('../assets/img/hero-icon5.png') %>" data-gallery-img="img" data-gallery-index="4"/>
              </div>
              <div class="hero-gallery-item">
                <img src="<%= require('../assets/img/hero-icon6.png') %>" data-gallery-img="img" data-gallery-index="5"/>
              </div>
              <div class="hero-gallery-item"></div>
              <div class="hero-gallery-item"></div>

              <div class="hero-gallery-item">
                <img src="<%= require('../assets/img/hero-icon7.png') %>" data-gallery-img="img" data-gallery-index="6"/>
              </div>
              <div class="hero-gallery-item">
                <img src="<%= require('../assets/img/hero-icon8.png') %>" data-gallery-img="img" data-gallery-index="7"/>
              </div>
              <div class="hero-gallery-item"></div>
              <div class="hero-gallery-item"></div>
              <div class="hero-gallery-item"></div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="page page4">
            <div class="arrow arrow-up">
              <img src="<%= require('../assets/img/arrow1.png') %>" />
            </div>
            <div class="arrow arrow-down">
              <img src="<%= require('../assets/img/arrow2.png') %>" />
            </div>
            <div class="ts-movelrt">
              <img src="<%= require('../assets/img/mouse.png') %>" />
            </div>
            <div class="swiper-container swiper-container-v" id="swiper1">
              <div class="swiper-wrapper">
                <div class="swiper-slide" style="width: fit-content;">
                  <div class="box-head box-head-wz1">
                    <div class="box-title box-title-color1">
                      法宝展示
                    </div>
                    <div class="hero-infor-line ">
                      <div class="hz-line"></div>
                      <div class="square1"></div>
                      <div class="square2"></div>
                    </div>
                  </div>
                  <img src="<%= require('../assets/img/scroll1.jpg') %>" class="scroll-box" />
                  <img src="http://material-mhtsdk.jingmakeji.top/2020-08-13/6699613236997791744.gif" class="gif-box gif-box1" />
                </div>
                <div class="swiper-slide" style="width: fit-content;">
                  <img src="<%= require('../assets/img/scroll2.jpg') %>" class="scroll-box"/>
                  <img src="http://material-mhtsdk.jingmakeji.top/2020-08-17/6700952274354708480.gif" class="gif-box gif-box2" />
                </div>
                <div class="swiper-slide" style="width: fit-content;">
                  <img src="<%= require('../assets/img/scroll3.jpg') %>" class="scroll-box" />
                  <img src="http://material-mhtsdk.jingmakeji.top/2020-08-13/6699613605454815232.gif" class="gif-box gif-box3" />
                </div>
                <div class="swiper-slide" style="width: fit-content;">
                  <img src="<%= require('../assets/img/scroll4.jpg') %>" class="scroll-box"/>
                  <img src="http://material-mhtsdk.jingmakeji.top/2020-08-17/6700952269468344320.gif" class="gif-box gif-box4" />
                </div>
                <div class="swiper-slide" style="width: fit-content;">
                  <img src="<%= require('../assets/img/scroll5.jpg') %>" class="scroll-box"/>
                 
                  <img src="http://material-mhtsdk.jingmakeji.top/2020-08-13/6699614050650824704.gif" class="gif-box gif-box5" />
                </div>
                <div class="swiper-slide" style="width: fit-content;">
                  <img src="<%= require('../assets/img/scroll6.jpg') %>" class="scroll-box"/>
                  <img src="http://material-mhtsdk.jingmakeji.top/2020-08-17/6700952272953810944.gif" class="gif-box gif-box6" />
                </div>
                <div class="swiper-slide" style="width: fit-content;">
                  <img src="<%= require('../assets/img/scroll7.jpg') %>" class="scroll-box"/>
                  <img src="http://material-mhtsdk.jingmakeji.top/2020-08-18/6701332076483977216.gif" class="gif-box gif-box7" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="swiper-slide">
          <div class="page page5">
            <div class="page5-infor">
              <div class="page5-infor-title">视频展示</div>
              <div class="page5-infor-line">
                <div class="hz-line"></div>
                <div class="square1"></div>
                <div class="square2"></div>
              </div>
            </div>
            <div class="video-box">
              <div class="video-box-ms">
                <div class="movie">MOVIE</div>
              </div>
              <div class="video-list">
                <div class="swiper-container swiper-container-v2" id="swiper2">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="swiper-slide-content">
                        <img src="<%= require('../assets/img/page4.png') %>" class="video-img"/>
                        <img src="<%= require('../assets/img/play.png') %>" class="play-img"/>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="swiper-slide-content">
                        <img src="<%= require('../assets/img/page4.png') %>" class="video-img"/>
                        <img src="<%= require('../assets/img/play.png') %>" class="play-img"/>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="swiper-slide-content">
                        <img src="<%= require('../assets/img/page4.png') %>" class="video-img"/>
                        <img src="<%= require('../assets/img/play.png') %>" class="play-img"/>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="footer">
              <div class="footer-left">
                <img src="<%= require('../assets/img/KIWI_LOGO1.png') %>" class="kiwi-logo"/>
              </div>
              <div class="footer-right">
                <img src="<%= require('../assets/img/grade.png') %>" class="kiwi-logo"/>
                <ul>
                  <li>
                    本游戏内容涉及打斗、攻击等暴力血腥画面或有轻微恐怖之画面
                  </li>
                  <li>
                    本游戏设有商城加值区·请依个人兴趣、能力进行体验·应避免过度消费
                  </li>
                  <li>
                    长时间进行游戏·容易影响正常作息·宜适度休息及运动
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div> -->
        <div class="swiper-slide">
          <div class="page page6">
            <div class="box-head">
              <div class="box-title box-title-color2">
                游戏特色
              </div>
              <div class="hero-infor-line ">
                <div class="hz-line hz-line-color2"></div>
                <div class="square1 square1-color2"></div>
                <div class="square2 square2-color2"></div>
              </div>
            </div>
            <div class="video-box">
              <div class="video-content">
                <div class="swiper-button-prev"></div>
                  <div class="swiper-container-v2" id="swiper2">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">
                        <div class="swiper-slide-content">
                          <img src="<%= require('../assets/img/video1.png') %>" class="video-img"/>
                          <img src="<%= require('../assets/img/play.png') %>" class="play-img"/>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="swiper-slide-content">
                          <img src="<%= require('../assets/img/video2.png') %>" class="video-img"/>
                          <img src="<%= require('../assets/img/play.png') %>" class="play-img"/>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="swiper-slide-content">
                          <img src="<%= require('../assets/img/video3.png') %>" class="video-img"/>
                          <img src="<%= require('../assets/img/play.png') %>" class="play-img"/>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-button-next"></div>
              </div>
            </div>
            <div class="footer">
              <div class="footer-left">
                <img src="<%= require('../assets/img/KIWI_LOGO1.png') %>" class="kiwi-logo"/>
              </div>
              <div class="footer-right">
                <img src="<%= require('../assets/img/grade.png') %>" class="kiwi-logo"/>
                <ul>
                  <li>
                    本游戏内容涉及打斗、攻击等暴力血腥画面或有轻微恐怖之画面
                  </li>
                  <li>
                    本游戏设有商城加值区·请依个人兴趣、能力进行体验·应避免过度消费
                  </li>
                  <li>
                    长时间进行游戏·容易影响正常作息·宜适度休息及运动
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>